<link rel="stylesheet" href="/components/breadcrumbs/breadcrumbs-blue/breadcrumbs.css">

<div class="content-container">
    <div class="breadcrumbs-wrapper">
        <nav class="breadcrumbs-nav">
            <a href="/">Главная</a>
            <a href="/">О компании</a>
            <a href="/">Каталог</a>
            <a href="/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ea eligendi, error est
                exercitationem </a>
            <span>Последний элемент (не кликается)</span>
        </nav>
    </div>
</div>