main
{
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 767px) 
{
    #page-footer
    {
        padding-bottom: calc(7px + 52px + 59px);
    }
}

.content-container.empty-cart
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
}

.cart-content-wrapper
{
    max-width: max-content;
    margin: 0 auto;

    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px)
{
    .cart-avatar
    {
        width: 323px;    
    }
}

.empty-cart-text
{
    margin-top: 35px;

    color: #202020;
}
@media screen and (max-width: 1200px)
{
    .empty-cart-text
    {
        margin-top: 20px;
    }
}
@media screen and (max-width: 992px)
{
    .empty-cart-text
    {
        margin-top: 40px;
    }
}

.cart-catalog-button
{
    margin-top: 80px;
    display: block;
}
@media screen and (max-width: 1200px)
{
    .cart-catalog-button
    {
        margin-top: 50px;
    }
}
@media screen and (max-width: 992px)
{
    .cart-catalog-button.mint-btn
    {
        margin-top: 30px;

        padding-top: 18px; 
        padding-bottom: 18px; 

        max-width: 228px;
    }
}

/* cart with coins */
.cart-items-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;

    width: 100%;
}
@media screen and (max-width: 767px)
{
    .cart-items-wrapper
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }    
}

.coins-list
{
    width: 100%;
}

.coin-item
{
    margin-bottom: 51px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
}
.coins-list .coin-item:last-child
{
    margin-bottom: 0;
}
@media screen and (max-width: 767px)
{
    .coin-item
    {
        border: 1px solid #C3CACF;
        border-radius: 5px;

        padding: 13px 12px;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.coin-image__text-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 767px)
{
    .coin-image__text-wrapper
    {
        margin-bottom: 50px;
        align-items: center;
    }
}

.coin-item__image
{
    width: 100%;
    height: 100%;
    max-width: 103px;
    max-height: 103px;

    margin-right: 23px;
}
@media screen and (max-width: 992px) 
{
    .coin-item__image
    {
        max-width: 100px;
        max-height: 100px;
    }
}
@media screen and (max-width: 767px)
{
    .coin-item__image
    {
        margin-right: 11px;
    }
}

.coin-item__name-wrapper
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 520px;
}

.coin-item__name
{
    font-weight: normal;

    color: #202020;
}
@media screen and (max-width: 1400px) 
{
    .coin-item__name
    {
        max-width: 430px;
    }
}
@media screen and (max-width: 1200px)
{
    .coin-item__name
    {
        max-width: 342px;
    }
}
@media screen and (max-width: 992px)
{
    .coin-item__name
    {
        max-width: 342px;
        margin-right: 22px;
    }
}
@media screen and (max-width: 767px)
{
    .coin-item__name
    {
        max-width: 100%;
        margin-right: 0;
    }
}

.delete-from-cart
{
    margin-top: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.002em;

    color: #777777;
}
.delete-from-cart.mobile
{
    display: none;
}
.delete-from-cart.mobile img
{
    width: 20px;
}
@media screen and (max-width: 767px)
{
    .delete-from-cart
    {
        display: none;
    }

    .delete-from-cart.mobile
    {
        display: block;
    }
}

.price-quantity-wrapper
{
    width: 100%;
    max-width: 102px;
}
@media screen and (max-width: 767px)
{
    .price-quantity-wrapper
    {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;

        max-width: 100%;

        padding-left: 13px;
    }
}

.coin-prices
{
    padding-left: 10px;
}
@media screen and (max-width: 767px)
{
    .coin-prices
    {
        padding-left: 0;
    }
}

.coin-item__old-price
{
    position: relative;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.002em;

    color: #777777;

    max-width: max-content;
}
.coin-item__old-price::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    height: 1px;

    background-color: #777777;
}

.coin-item__actual-price
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.002em;

    color: #202020;
}

.coin-item__quantity-wrapper
{
    margin-top: 12px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background: #EBEBEB;
    border-radius: 3px;

    padding: 3px 2px;

    border: 1px solid transparent;

    transition: border .3s;
}
.coin-item__quantity-wrapper.invalid
{
    border: 1px solid red;
}

.quantity-change-btn
{
    background: #FFFFFF;
    border-radius: 3px;

    width: 30px;
    height: 27px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .3s;
}

.quantity-change-btn[disabled]
{
    background-color: transparent;
}

.quantity-value
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

    text-align: center;

    display: block;

    /* background-color: #fff; */
    background-color: transparent;
    max-width: 30px;
    width: 100%;
}

.quantity-value::-webkit-outer-spin-button,
.quantity-value::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    -moz-appearance: textfield;
}

.quantity-value:hover,
.quantity-value:focus {
  -moz-appearance: number-input;
}

/* cart right side */
.cart-summary-wrapper
{
    width: 100%;
    max-width: 420px;
    margin-left: 30px;

    position: sticky;
    top: 120px;
}
@media screen and (max-width: 1400px) 
{
    .cart-summary-wrapper
    {
        max-width: 360px;
    }
}
@media screen and (max-width: 1200px) 
{
    .cart-summary-wrapper
    {
        max-width: 304px;
        margin-left: 25px;
    }
}
@media screen and (max-width: 992px)
{
    .cart-summary-wrapper
    {
        max-width: 288px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 767px)
{
    .cart-summary-wrapper
    {
        max-width: 100%;
        margin-left: 0;

        margin-top: 30px;
    }
}

.clear-cart
{
    margin-left: auto;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #777777;
}

.cart-summary
{
    margin-top: 14px;

    background: #E9ECEE;
    border-radius: 4px;

    padding: 15px 20px 20px 20px;
}

.cart-summary-text
{
    font-family: "RF Dewi";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.002em;

    color: #556871;

    padding-bottom: 13px;
    border-bottom: 1px solid #9D9D9D;

    margin-bottom: 15px;
}
@media screen and (max-width: 767px)
{
    .cart-summary-text
    {
        margin-bottom: 19px;
    }
}

.order-btn-summ-wrapper
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 767px)
{
    .order-btn-summ-wrapper
    {
        flex-flow: row nowrap;

        position: fixed;
        bottom: 52px;
        left: 0;
        width: 100%;

        background-color: #E9ECEEff;
        z-index: 3;

        padding: 9px 20px;
    }
}
@media screen and (max-width: 370px)
{
    .order-btn-summ-wrapper
    {
        bottom: 47px;

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.cart-total-price-wrapper
{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 27px;
}
@media screen and (max-width: 767px)
{
    .cart-total-price-wrapper
    {
        margin-bottom: 0;
        width: max-content;
    }
}
@media screen and (max-width: 370px)
{
    .cart-total-price-wrapper
    {
        margin-bottom: 10px;
    }
}

.cart-total-price__name
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}
@media screen and (max-width: 767px)
{
    .cart-total-price__name
    {
        margin-right: 8px;
    }
}

.cart-total-price__value
{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #000000;

    white-space: nowrap;
}
@media screen and (max-width: 767px)
{
    .cart-total-price__name,
    .cart-total-price__value
    {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;

        letter-spacing: 0.2px;
    }
}

.cart-proceed-btn.mobile
{
    display: none;

    padding: 8px 30px;
    min-width: unset;
    width: max-content;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
@media screen and (max-width: 767px)
{
    .cart-proceed-btn.desktop
    {
        display: none;
    }
    .cart-proceed-btn.mobile
    {
        display: block;
    }
}

.other-pages-links
{
    margin-top: 28px;
}

.other-page-links__link
{
    display: block;
    position: relative;

    padding-left: calc(25px + 22px);

    margin-bottom: 19px;

    font-family: "RF Dewi Seminold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #777777;

    max-width: max-content;

    transition: color .3s;
}
.other-pages-links .other-page-links__link:last-child
{
    margin-bottom: 0;
}
@media screen and (min-width: 769px)
{
    .other-page-links__link:hover
    {
        color: var(--gold-color);
    }    
}

.other-page-links__link::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 25px;
    height: 25px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.delivery-detail::before
{
    background-image: url("/images/icons/cart/delivery-detail.svg");
}
.payment-detail::before
{
    background-image: url("/images/icons/cart/payment-detail.svg");
}
.sell-rules::before
{
    background-image: url("/images/icons/cart/sell-rules.svg");
}