/* pagination */
.bottom-page-pagination
{
    margin-top: 80px;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    padding-top: 24px;
    position: relative;
}
@media screen and (max-width: 992px)
{
    .bottom-page-pagination
    {
        margin-top: 50px;
    }
}
.bottom-page-pagination::before
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
    height: 1px;
    background-color: #ECF0F0;
}

.pagination-numbers
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0 58px;
}
@media screen and (max-width: 355px)
{
    .pagination-numbers
    {
        margin: 0 40px;
    }
}

.pagination-number
{
    display: block;
    position: relative;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #99A0A9;

    margin-right: 29px;
}
.pagination-numbers .pagination-number:last-child
{
    margin-right: 0;
}
.pagination-number.active
{
    color: #000;
}
.pagination-number.active::before
{
    content: "";

    position: absolute;
    width: 30px;
    height: 2px;

    top: -24px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #728493;
}

.pagination-arrow-wrapper
{
    display: block;

    transition: opacity .3s;
}

.pagination-arrow-wrapper path 
{
    fill: #728493;
}

.pagination-arrow-wrapper.disabled
{
    opacity: 0.5;
}

.pagination-arrow.left
{
    transform: rotate(180deg);
}