.last-news__title-wrapper
{
    margin-bottom: 30px;
}
@media screen and (max-width: 1200px)
{
    .last-news__title-wrapper
    {
        margin-bottom: 35px;
    }
} 
@media screen and (max-width: 992px) 
{
    .last-news__title-wrapper
    {
        margin-bottom: 24px;
    }
}

.last-news .heading-2
{
    color: var(--gold-color);
}

.last-news__swiper-navingation-buttons
{
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    display: none;
}
@media screen and (max-width: 992px) 
{
    .last-news__swiper-navingation-buttons
    {
        display: flex;
    }
}

.last-news__swiper-navingation-buttons .swiper-button-prev,
.last-news__swiper-navingation-buttons .swiper-button-next
{
    z-index: 1;
    -webkit-tap-highlight-color: transparent;

    padding: 13px 15px 14px 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.last-news__swiper-navingation-buttons .swiper-button-prev img,
.last-news__swiper-navingation-buttons .swiper-button-next img
{
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 auto;
}
.last-news__swiper-navingation-buttons .swiper-button-next
{
    margin-left: 8px;
}
.last-news__swiper-navingation-buttons .swiper-button-next img
{
    transform: rotate(180deg);
}

.last-news__title-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.news-list
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.news-item
{
    border: 1px solid var(--gold-color);
    padding: 27px 41px 26px 27px;

    transition: background-color .35s;
}
@media screen and (max-width: 1400px) 
{
    .news-item
    {
        padding: 16px 27px 25px 27px;
    }
}
@media screen and (max-width: 1200px) 
{
    .news-item
    {
        padding: 17px 13px 16px 13px;
    }
}
@media screen and (max-width: 992px) 
{
    .news-item
    {
        padding: 20px 40px 20px 20px;
    }
}

.news-list .news-item:last-child
{
    margin-right: 0;
}
.news-item:hover
{
    background-color: var(--gold-color);
}

.news-item__date
{
    display: block;
    color: #fff;
    margin-bottom: 11px;
}

.news-item__announce-text
{
    color: #fff;
}