body
{
    background-color: var(--dark-bg-page-color);
}

.contacts-3-row
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
@media screen and (max-width: 992px) 
{
    .contacts-3-row
    {
        flex-flow: unset;
        justify-content: unset;
        align-items: unset;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px 20px;

        grid-template-areas:  "contacts opened-time"
                              "optional-item optional-item";                
    }
}
@media screen and (max-width: 567px) 
{
    .contacts-3-row
    {
        grid-template-columns: 1fr;
        grid-template-areas: unset;
        grid-gap: 25px 0;
    }
}

.contacts-row-item
{
    padding: 19px 21px 32px 17px;
    border: 1px solid var(--gold-color);

    max-width: 420px;
    flex-grow: 1;
}
@media screen and (max-width: 1400px) 
{
    .contacts-row-item
    {
        max-width: 360px;
    }
}
@media screen and (max-width: 1200px) 
{
    .contacts-row-item
    {
        max-width: 304px;
    }
}
@media screen and (max-width: 992px) 
{
    .contacts-row-item
    {
        max-width: 100%;

        padding: 21px 21px 32px 21px;
    }

    .contacts-row-item.contacts
    {
        grid-area: contacts;
    }
    .contacts-row-item.opened-time
    {
        grid-area: opened-time;
    }
    .contacts-row-item.optional
    {
        grid-area: optional-item;
    }
}
@media screen and (max-width: 567px) 
{
    .contacts-row-item.contacts,
    .contacts-row-item.opened-time,
    .contacts-row-item.optional
    {
        grid-area: unset;
    }
}

.contacts-row-item__name
{
    color: var(--gold-color);
    margin-bottom: 10px;
}

.contacts-row-item .main-text
{
    color: #fff;
}
@media screen and (max-width: 992px) 
{
    .contacts-row-item .main-text
    {
        font-size: 16px;
        line-height: 21px;
    }
}

.contacts-row-item__email-tel
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacts-row-item__email-tel a
{
    display: block;
    margin-bottom: 2px;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 0.002em;

    color: #FFFFFF;
}

.contacts-row-item__email-tel a:last-child
{
    margin-bottom: 0;
}

.contacts-row-item__socials
{
    margin-top: 18px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contacts-row-item__socials a
{
    display: block;

    margin-right: 8px;

    border-radius: 50%;
    border: 1px solid #CCCCCC;

    padding: 8px 8px 7px 7px;
}

.contacts-row-item__socials a img
{
    max-width: 20px;
}

/* ymaps */
.contacts-ymaps
{
    margin-top: 80px;

    min-height: 588px;
    background-color: #fff;
}
@media screen and (max-width: 992px) 
{
    .contacts-ymaps
    {
        min-height: 277px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) 
{
    .contacts-ymaps
    {
        min-height: 475px;
    }
}

.addresses
{
    margin: 80px 0;

    border-top: 1px solid #B6B6B6;
    padding-top: 32px;

    padding-bottom: 33px;
    border-bottom: 1px solid #B6B6B6;
}
@media screen and (max-width: 992px) 
{
    .addresses
    {
        position: relative;

        border-top: none;
        padding-top: 0;
        margin: 50px 0;
        padding-bottom: 30px;

        border-bottom: none;
    }
    .addresses::after
    {
        content: "";

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 1px;
        width: 100vw;
        background-color: #4F545D;
    }
}
@media screen and (max-width: 680px) 
{
    .addresses
    {
        padding-bottom: 0;
    }
    .addresses::after
    {
        display: none;
    }
}

.inner-addresses-wrapper
{
    max-width: 1209px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
@media screen and (max-width: 1400px) 
{
    .inner-addresses-wrapper
    {
        max-width: 1077px;
    }
}
@media screen and (max-width: 680px) 
{
    .inner-addresses-wrapper
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


/* form */
.ask-question-form-wrapper
{
    max-width: 421px;
    width: 100%;
}
@media screen and (max-width: 1400px) 
{
    .ask-question-form-wrapper
    {
        max-width: 391px;
    }  
}
@media screen and (max-width: 1200px) 
{
    .ask-question-form-wrapper
    {
        max-width: 386px;
    }  
}
@media screen and (max-width: 992px) 
{
    .ask-question-form-wrapper
    {
        max-width: 334px;
    }  
}
@media screen and (max-width: 680px) 
{
    .ask-question-form-wrapper
    {
        max-width: 100%;
        margin-top: 59px;
    }  
}

.success-message
{
    opacity: 0;

    border: 1px solid var(--gold-color);
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 18px 12px 18px;

    transition: opacity .4s;
}
.success-message.showed
{
    opacity: 1;
}
@media screen and (max-width: 992px) 
{
    .success-message
    {
        display: none;
    }
}

.success-message__text
{
    color: var(--gold-color);
    margin-left: 10px;
}

.ask-question-form-wrapper form
{
    margin-top: 24px;

    background-color: #232323;

    border-radius: 15px;
    border: 1px solid #3A3A3A;

    padding: 15px 34px 24px 18px;
}
@media screen and (max-width: 1400px) 
{
    .ask-question-form-wrapper form
    {
        padding: 15px 30px 24px 22px;
    }
}
@media screen and (max-width: 1200px) 
{
    .ask-question-form-wrapper form
    {
        padding: 15px 25px 24px 22px;
    }
}
@media screen and (max-width: 992px) 
{
    .ask-question-form-wrapper form
    {
        margin-top: 0;
    }
}

.ask-question__title
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #C4C4C4;

    margin-bottom: 16px;
}

.ask-question-form-wrapper form input,
.ask-question-form-wrapper form textarea
{
    display: block;

    font-family: "RF Dewi Ligth", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    background: #121212;
    border: 1px solid #3A3A3A;
    border-radius: 5px;

    padding: 14px 16px;
    width: 100%;

    transition: border .3s;

    margin-bottom: 13px;

    color: #fff;
}

.ask-question-form-wrapper form input:last-child,
.ask-question-form-wrapper form textarea:last-child
{
    margin-bottom: 0;
}

.ask-question-form-wrapper form input:focus,
.ask-question-form-wrapper form textarea:focus
{
    border: 1px solid var(--gold-color);
}

.ask-question-form-wrapper form input:placeholder-shown,
.ask-question-form-wrapper form textarea:placeholder-shown
{
    color: #333333;
}

.ask-question-form-wrapper form textarea
{
    resize: vertical;
    max-height: 250px;
    min-height: 187px;
}

.ask-question-form-wrapper form textarea
{
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) 
{
    #submit-question-form
    {
        max-width: 100%;
        width: 100%;
    }
}