/* 1400+ - container 1320px */
/* 1200-1399 - container 1140px */
/* 992 - 1199 - container 960px */
/* 768-991+ - container 720px */
/* 720px- - width 100% */

@font-face {
    font-family: "RF Dewi Regular";
    src: url("/fonts/RF-Dewi-Regular.woff2") format("woff2"),
    url("/fonts/RF-Dewi-Regular.woff") format("woff");
}

@font-face {
    font-family: "RF Dewi Semibold";
    src: url("/fonts/RF-Dewi-Semibold.woff2") format("woff2"),
    url("/fonts/RF-Dewi-Semibold.woff") format("woff");
}
@font-face {
    font-family: "RF Dewi Light";
    src: url("/fonts/RF-Dewi-Light.woff2") format("woff2"),
    url("/fonts/RF-Dewi-Light.woff") format("woff");
}

:root
{
    --gold-color: #A58A57;

    --dark-bg-page-color: #181A1E;
}

*, *::before, *::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "RF Dewi Regular", sans-serif;
}

html, body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    /* overflow-x: hidden; */

    background-color: #F9FBFB;
}

input
{
    outline: none;
    border: none;
}

textarea
{
    outline: none;
    display: block;
}

button
{
    background-color: transparent;
    outline: none;
    border: none;
    display: block;

    cursor: pointer;
}

a[href^="tel:"],
a[href^="mailto"]
{
    white-space: nowrap;
}

/* 1320 container */
.content-container
{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
/* 1140 container */
@media screen and (max-width: 1400px)
{
    .content-container
    {
        max-width: 1140px;
    }
}
/* 960 container */
@media screen and (max-width: 1200px)
{
    .content-container
    {
        max-width: 960px;
    }
}
/* 720 container */
@media screen and (max-width: 992px)
{
    .content-container
    {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px)
{
    .content-container
    {
        max-width: 100%;
        padding: 0 20px;
    }
}

header, main, footer
{
    width: 100%;
}

main
{
    flex-grow: 1;

    padding-bottom: 120px;
}
@media screen and (max-width: 992px) 
{
    main
    {
        padding-bottom: 50px;
    }    
}

img
{
    display: block;
    object-fit: cover;
    user-select: none;
}

a
{
    text-decoration: none;
}

/* text */
.heading-1
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: 0.002em;

    margin-bottom: 30px;
}
 /* 720 container */
@media screen and (max-width: 992px)
{
    .heading-1
    {
        font-size: 26px;
        line-height: 35px;
    }
}

.heading-2
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: 0.002em;
}
@media screen and (max-width: 992px) 
{
    .heading-2
    {
        font-size: 22px;
        line-height: 30px;
    }
}

.heading-3
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.002em;
}
@media screen and (max-width: 992px) 
{
    .heading-3
    {
        font-size: 18px;
        line-height: 30px;
    }
}

.heading-4
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;

    letter-spacing: 0.002em;
}

.main-text
{
    font-family: "RF Dewi Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 0.002em;
}
@media screen and (max-width: 992px) 
{
    .main-text
    {
        font-size: 14px;
        line-height: 21px;
    }
}

.description-text
{
    font-family: "RF Dewi Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.002em;
}

/* buttons */
.mint-btn
{
    border: 1px solid var(--gold-color);

    border-radius: 4px;

    font-family: "RF Dewi Semibold", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01em;

    width: 100%;
    max-width: 262px;

    padding-left: 20px;
    padding-right: 20px;

    text-align: center;

    color: var(--gold-color);

    box-shadow: 0 15px 30px -10px rgba(150, 126, 81, 0.35);
}
@media screen and (max-width: 992px)
{
    .mint-btn
    {
        max-width: 228px;
    }
}

.mint-btn.full-width
{
    width: 100%;
    max-width: 100%;
}

/* big btn */
.mint-btn.big
{
    font-size: 16px;
    line-height: 150%;

    padding-top: 18px;
    padding-bottom: 18px;
}

.mint-btn.mini
{
    font-size: 14px;
    line-height: 150%;

    padding-top: 12px;
    padding-bottom: 12px;
}
@media screen and (max-width: 768px) {
    .mint-btn.mini
    {
        font-size: 14px;
        line-height: 150%;

        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.mint-btn.filled
{
    background-color: var(--gold-color);
    color: #fff;
}

/* blue btns */
.mint-btn.blue
{
    border: 1px solid #00345E;
    border-radius: 4px;

    font-family: "RF Dewi Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #00345E;

    padding: 12px 32px;

    box-shadow: none;

    max-width: max-content;
    min-width: 160px;
}