.all-wrapper
{
    background-color: #181A1E;
}

.contacts-top .heading-1
{
    margin-bottom: 30px;
    color: var(--gold-color);
}

.contacts-3-row
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.contacts-row-item
{
    padding: 19px 21px 32px 17px;
    border: 1px solid var(--gold-color);

    max-width: 420px;
    flex-grow: 1;
}

.contacts-row-item__name
{
    color: var(--gold-color);
    margin-bottom: 10px;
}

.contacts-row-item .main-text
{
    color: #fff;
}

.contacts-row-item__email-tel
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacts-row-item__email-tel a
{
    display: block;
    margin-bottom: 2px;

    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 0.002em;

    color: #FFFFFF;
}

.contacts-row-item__email-tel a:last-child
{
    margin-bottom: 0;
}

.contacts-row-item__socials
{
    margin-top: 18px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contacts-row-item__socials a
{
    display: block;

    margin-right: 8px;

    border-radius: 50%;
    border: 1px solid #CCCCCC;

    padding: 8px 8px 7px 7px;
}

.contacts-row-item__socials a img
{
    max-width: 20px;
}

/* ymaps */
.contacts-ymaps
{
    margin-top: 80px;

    min-height: 588px;
    background-color: #fff;
}

.addresses
{
    margin-top: 80px;

    border-top: 1px solid #B6B6B6;
    padding-top: 32px;

    padding-bottom: 33px;
    border-bottom: 1px solid #B6B6B6;
}

.inner-addresses-wrapper
{
    max-width: 1209px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.addresses-list
{
    max-width: 596px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 75px;
}

.address-item__value
{
    color: #fff;

    margin-bottom: 6px;
}

.address-item__metro-stations
{
    margin-bottom: 6px;
}

.address-item__metro-station
{
    position: relative;
    display: block;
    color: #fff;

    padding-left: calc(18px + 8px);
}

.address-item__metro-station::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 18px;

    background-image: url("/images/icons/metro.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.address-item__opened-time
{
    color: #FFFFFF;
}

.address-item__phone
{
    color: #fff;
}

/* form */
.success-message
{
    border: 1px solid var(--gold-color);
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 18px 12px 18px;
}

.success-message__text
{
    color: var(--gold-color);
    margin-left: 10px;
}

.ask-question-form-wrapper form
{
    margin-top: 24px;

    background-color: #232323;

    border-radius: 15px;
    border: 1px solid #3A3A3A;

    padding: 15px 34px 24px 18px;
}

.ask-question__title
{
    font-family: "RF Dewi Semibold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #C4C4C4;

    margin-bottom: 16px;
}

.ask-question-form-wrapper form input,
.ask-question-form-wrapper form textarea
{
    display: block;

    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    background: #121212;
    border: 1px solid #3A3A3A;
    border-radius: 5px;

    padding: 14px 16px;
    width: 100%;

    transition: border .3s;

    margin-bottom: 13px;

    color: #fff;
}

.ask-question-form-wrapper form input:last-child,
.ask-question-form-wrapper form textarea:last-child
{
    margin-bottom: 0;
}

.ask-question-form-wrapper form input:focus,
.ask-question-form-wrapper form textarea:focus
{
    border: 1px solid var(--gold-color);
}

.ask-question-form-wrapper form input:placeholder-shown,
.ask-question-form-wrapper form textarea:placeholder-shown
{
    color: #333333;
}

.ask-question-form-wrapper form textarea
{
    resize: vertical;
    max-height: 250px;
    min-height: 187px;
}

.delivery-cases
{
    margin-top: 80px;

    margin-bottom: 120px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.delivery-cases__item
{
    padding: 21px 27px 36px 27px;

    border: 1px solid var(--gold-color);
    border-radius: 12px;

    box-shadow: 0 4px 36px rgba(0, 0, 0, 0.25);

    margin-right: 33px;
}
.delivery-cases .delivery-cases__item:last-child
{
    margin-right: 0;
}

.delivery-item__title
{
    color: var(--gold-color);

    margin-bottom: 34px;
}

.delivery-item__description
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    margin-bottom: 30px;
}

.delivery-item__little-description
{
    font-family: "RF Dewi Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.02em;

    color: #C4C4C4;
}