.header-mrb
{
    display: none;
    width: 100%;
    margin-bottom: 140px;
}
@media screen and (max-width: 992px)
{
    .header-mrb
    {
        display: block !important;

        margin-bottom: 135px;
    }
}

#page-header
{
    position: relative;
    z-index: 4;

    transition: background-color .4s;
}
@media screen and (max-width: 992px)
{
    #page-header
    {
        position: fixed;
        z-index: 4;
    }
}

#page-header.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    /*z-index: 4;*/

    /*background-color: rgba(233, 236, 238, 0.8);*/
    background-color: rgba(233, 236, 238, 1);
}
#page-header.sticky.dark
{
    /*background-color: rgba(24, 26, 30, 1);*/
    background-color: rgba(24, 26, 30, 0.8);
}

#page-header.sticky::before
{
    content: "";

    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.header-up
{
    background-color: #E9ECEE;

    padding: 10px 0;

    position: relative;
    z-index: 2;

    transition: background-color .4s;
}
#page-header.dark .header-up
{
    background-color: rgba(24, 26, 30, 1);
}
@media screen and (max-width: 992px)
{
    .header-up
    {
        padding: 21px 0;
    }

    .header-up .content-container
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

#page-header.transparent .header-up,
/*#page-header.dark .header-up,*/
#page-header.sticky .header-up
{
    background-color: transparent;
}

.header-up.search-opened
{
    position: relative;
}

.header-up .content-container
{
    display: flex;
    align-items: center;
}

.header-company-logo
{
    max-width: 80px;

    margin-right: 33px;
}
@media screen and (max-width: 1200px)
{
    .header-company-logo
    {
        margin-right: 13px;
    }
}
@media screen and (max-width: 992px)
{
    .header-company-logo
    {
        margin-right: 0;
        max-width: 66px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header-right-container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
}
@media screen and (max-width: 992px)
{
    .header-right-container
    {
        flex-grow: 0;
    }
}

.shop-burger-menu-wrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 992px)
{
    .shop-burger-menu-wrapper
    {
        display: none;
    }
}

.open-shop-menu
{   
    position: relative;

    margin-right: 7px;

    width: 20px;
    height: 14px;
}

.open-shop-menu.mobile-button
{
    display: none;
}
@media screen and (max-width: 992px)
{
    .open-shop-menu.mobile-button
    {
        display: block;
        margin-right: 0;
    }
}

.open-shop-menu__line
{
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: #00345E;

    transition: transform .5s, opacity .5s, top .5s;
}
#page-header.dark .open-shop-menu__line
{
    background-color: #fff;
}

.open-shop-menu .open-shop-menu__line:nth-child(2)
{
    top: 50%;
    transform: translateY(-50%);
}

.open-shop-menu .open-shop-menu__line:last-child
{
    top: unset;
    bottom: 0;
}

.open-shop-menu.opened .open-shop-menu__line:nth-child(2)
{
    opacity: 0;
}

.open-shop-menu.opened .open-shop-menu__line:first-child,
.open-shop-menu.opened .open-shop-menu__line:last-child
{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.open-shop-menu.opened .open-shop-menu__line:last-child
{
    transform: translateY(-50%) rotate(-45deg);
}

.shop-burger-menu__title
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #00345E;
}
#page-header.dark .shop-burger-menu__title
{
    color: #fff;
}

/* sticky header top navigation */
.sticky-header-menu
{
    display: none;
}

#page-header.sticky .sticky-header-menu
{
    display: block;
}

#page-header.sticky .header-up.search-opened .sticky-header-menu
{
    display: none;
}

@media screen and (max-width: 992px)
{
    .sticky-header-menu,
    #page-header.sticky .sticky-header-menu
    {
        display: none;
    }
}

/* search */
.header-search-wrapper
{
    flex-grow: 1;
    max-width: 561px;

    background-color: #FFFFFF;
    border-radius: 4px;

    padding: 10px 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
    transition: width .5s;
}
#page-header.dark .header-search-wrapper
{
    background-color: transparent;
    border: 1px solid #fff;
}
#page-header.sticky .header-search-wrapper
{
    display: none;
}
#page-header.sticky .header-up.search-opened .header-search-wrapper
{
    position: relative;
    display: flex;
    z-index: 2;
}
@media screen and (max-width: 1400px)
{
    .header-search-wrapper
    {
        max-width: 555px;
    }
}
@media screen and (max-width: 1200px)
{
    .header-search-wrapper
    {
        max-width: 461px;
    }
}
@media screen and (max-width: 992px)
{
    .header-search-wrapper
    {
        display: none;
    }
}

#page-header .header-up .header-search-sticky-bg
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;

    opacity: 0;
    pointer-events: none;

    transition: opacity .4s;
}
#page-header.sticky .header-up.search-opened .header-search-sticky-bg
{
    opacity: 1;
    pointer-events: all;
}

.header-search-wrapper .search-loupe-wrapper.input-left
{
    display: block;

    width: 0;
    opacity: 0;
    height: 20px;

    transition: width .3s, opacity .3s;
}
.header-search-wrapper.active .search-loupe-wrapper.input-left
{
    width: 20px;
    opacity: 1;
}

.header-search-wrapper .search-loupe-wrapper.input-left svg path,
.header-search-wrapper .search-loupe-wrapper.input-right svg path
{
    fill: #728493;
}
#page-header.dark .header-search-wrapper .search-loupe-wrapper.input-left svg path,
#page-header.dark .header-search-wrapper .search-loupe-wrapper.input-right svg path
{
    fill: #c4c4c4;
}

#header-search-input
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #000000;

    width: 100%;
    margin-right: 20px;

    display: block;

    transition: margin-left .3s;
}
.header-search-wrapper.active #header-search-input
{
    margin-left: 15px;
}

#page-header.dark #header-search-input
{
    color: #fff;
    background-color: transparent;
}

.input-controls
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-search-wrapper .search-loupe-wrapper.input-right
{
    display: block;

    width: 20px;
    opacity: 1;
    overflow-x: hidden;

    transition: width .3s, opacity .3s;
}
.header-search-wrapper.active .search-loupe-wrapper.input-right
{
    width: 0;
    opacity: 0;
}

.header-search-wrapper #close-input
{
    opacity: 0;
    width: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width .3s, opacity .3s;
}
.header-search-wrapper.active #close-input
{
    opacity: 1;
    width: 14px;
}

.search-close-gold
{
    fill: var(--gold-color);
}

#page-header.dark .search-close-gold
{
    fill: #fff;
}

.header-personal-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 992px)
{
    .header-personal-wrapper
    {
        display: none;
    }
}

#open-sticky-search
{
    display: none;
}

#page-header.sticky #open-sticky-search
{
    display: block;
}

/*#open-sticky-search svg path*/
/*{*/
/*    fill: #728493;*/
/*}*/
/*#page-header.dark #open-sticky-search svg path*/
/*{*/
/*    fill: #fff;*/
/*}*/

.personal-navigation__item
{
    margin-right: 20px;
}

.personal-navigation__item svg path
{
    fill: #00345E;
}
#page-header.dark .personal-navigation__item svg path
{
    fill: #fff;
}

.header-personal-wrapper .personal-navigation__item:last-child
{
    margin-right: 0;
}

.header-up .content-container .header-right-container > a[href^="tel:"]
{
    display: none;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #00345E;
}
#page-header.dark .header-up .content-container .header-right-container > a[href^="tel:"]
{
    color: #fff;
}
@media screen and (max-width: 992px)
{
    .header-up .content-container .header-right-container > a[href^="tel:"]
    {
        display: block;
    }
}

@media screen and (max-width: 992px)
{
    .header-bottom
    {
        border-bottom: 1px solid #EBEBEB;

        padding: 14px 0;
    }
}

.header-bottom .header-right-container
{
    margin-left: auto;
    max-width: 1204px;
}

.header-bottom-navigation
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 17px 0 15px;

    width: 100%;
}
@media screen and (max-width: 992px)
{
    .header-bottom-navigation
    {
        display: none;
    }
}

#page-header.sticky .header-bottom-navigation
{
    display: none;
}

.sticky-header-menu 
{
    margin-left: 20px;
}

.header-navigation__link
{
    margin-right: 25px;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #00345E;
}
.sticky-header-menu .header-navigation__link:last-child
{
    margin-right: 0;
}
#page-header.dark .header-navigation__link
{
    color: #fff;
}

.header-bottom-navigation a[href^="tel:"]
{
    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #00345E;
}
#page-header.dark .header-bottom-navigation a[href^="tel:"]
{
    color: #fff;
}

.mobile-catalog-wrapper
{
    width: 100%;
    display: none;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 992px)
{
    .mobile-catalog-wrapper
    {
        display: flex;
    }
}

#open-mobile-catalog
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.open-mobile-catalog__text
{
    margin-right: 18px;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.025em;

    color: var(--blue-color);
}
#page-header.dark .open-mobile-catalog__text
{
    color: #fff;
}

.open-mobile-catalog__arrow
{
    transition: transform .4s;
}

#open-mobile-catalog.opened .open-mobile-catalog__arrow
{
    transform: rotate(90deg);
}

.open-mobile-catalog__arrow path
{
    fill: var(--blue-color);
}
#page-header.dark .open-mobile-catalog__arrow path
{
    fill: #fff;
}

.mobile-catalog-navigation-wrapper
{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100%;

    /*background-color: rgba(249, 251, 251, 0.8);*/
    background-color: rgba(249, 251, 251, 1);
    width: 100%;

    transition: top .7s;
}
/*.mobile-catalog-navigation-wrapper::before*/
/*{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/

/*    width: 100%;*/
/*    height: 100%;*/

/*    backdrop-filter: blur(15px);*/
/*    -webkit-backdrop-filter: blur(15px);*/
/*}*/

.mobile-catalog-navigation-wrapper.hidden
{
    top: -100vh;
}

.mobile-catalog-navigation
{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 768px)
{
    .mobile-catalog-navigation
    {
        max-width: 100%;
        padding: 0 20px;
    }
}

.mobile-catalog-navigation__link
{
    display: block;
    padding: 14px 0 17px;

    position: relative;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.025em;

    color: #00345E;
}
.mobile-catalog-navigation__link::before
{
    content: "";
    position: absolute;
    top: 0;
    width: 200vw;
    left: -300px;

    height: 1px;

    background-color: #EBEBEB;
}

.mobile-catalog-navigation .mobile-catalog-navigation__link:last-child::after
{
    content: "";
    position: absolute;

    bottom: 0;
    left: -300px;

    width: 200vw;
    height: 1px;

    background-color: #EBEBEB;
}

/* desktop shop menu */
.shop-menu-wrapper
{
    position: absolute;
    top: calc(100% - 51px);
    z-index: 0;

    transition: top .4s;
}

/* mobile shop menu */
@media screen and (max-width: 992px)
{
    .shop-menu-wrapper
    {
        position: absolute;
        z-index: 1;

        width: 100%;

        top: calc(100% - 51px);
        left: 0;

        transition: left .7s;
    }
}

/* desktop sticky header shop menu */
#page-header.sticky .shop-menu-wrapper
{
    top: 100%;
    z-index: -2;

    transition: top .4s;
}

/* mobile sticky header shop menu */
@media screen and (max-width: 992px)
{
    #page-header.sticky .shop-menu-wrapper
    {
        z-index: 1;
        left: 0;
        top: calc(100% - 51px);

        transition: left .4s;
    }
}

/* desktop shop menu hidden */
.shop-menu-wrapper.hidden
{
    top: -100%;
}

/* desktop sticky header shop menu hidden */
#page-header.sticky .shop-menu-wrapper.hidden
{
    top: -100%;
}

/* mobile sticky header shop menu hidden */
@media screen and (max-width: 992px)
{
    .shop-menu-wrapper.hidden,
    #page-header.sticky .shop-menu-wrapper.hidden
    {
        top: calc(100% - 51px);
        left: -100vw;
    }
}

.header-bottom .shop-menu-navigation
{
    width: 100%;

    padding: 17px 0 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}
@media screen and (max-width: 992px)
{
    .header-bottom .shop-menu-navigation
    {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        max-width: 720px;
        margin: 0 auto;
        padding: 32px 0 0;

        position: relative;
    }
    .header-bottom .shop-menu-navigation::after
    {
        content: "";

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        bottom: 0;
        height: 1px;
        background-color: #c4c4c4;

        z-index: 1;
    }
}
@media screen and (max-width: 768px)
{
    .header-bottom .shop-menu-navigation
    {
        max-width: 100%;
        padding: 32px 20px 0;
    }
}

.header-bottom .shop-menu-background
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;

    max-height: 100%;

    width: 200vw;

    background-color: #E9ECEE;
    z-index: 0;

    transition: max-height .4s;
}
@media screen and (max-width: 992px)
{
    .header-bottom .shop-menu-background
    {
        width: 100vw;

        left: 0;
        transform: translateX(0);
    }
}

#page-header.sticky .header-bottom .shop-menu-background
{
    /*background-color: rgba(233, 236, 238, 0.8);*/
    background-color: rgba(233, 236, 238, 1);

    /*transition: background-color .4s;*/
}
#page-header.dark .header-bottom .shop-menu-background
{
    background-color: rgba(24, 26, 30, 1);

    /*transition: background-color .4s;*/
}

#page-header.dark.sticky .header-bottom .shop-menu-background
{
    /*background-color: rgba(24, 26, 30, 0.8);*/
    /*background-color: rgba(24, 26, 30, 1);*/
}

/*#page-header.sticky .header-bottom .shop-menu-background::before*/
/*{*/
/*    content: "";*/

/*    z-index: -1;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    left: 0;*/
/*    top: 0;*/

/*    backdrop-filter: blur(15px);*/
/*    -webkit-backdrop-filter: blur(15px);*/
/*}*/

.header-bottom .shop-menu-navigation.hidden + .shop-menu-background
{
    max-height: 0;
}

.shop-menu-navigation__link
{
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;

    font-family: "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #00345E;

    margin-right: 20px;

    white-space: nowrap;
}
.shop-menu-navigation .shop-menu-navigation__link:last-child
{
    margin-right: 0;
}

@media screen and (max-width: 992px)
{
    .shop-menu-navigation__link
    {
        padding: 14px 0;
        position: relative;

        font-size: 18px;
        line-height: 22px;
        margin-right: 0;
    }
    .shop-menu-navigation__link::before
    {
        content: "";
        position: absolute;

        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100vw;
        height: 1px;
        background-color: #C4C4C4;
    }
}

#page-header.dark .shop-menu-navigation__link
{
    color: #fff;
}


/* cart block */
.personal-navigation__item.cart-wrapper
{
    position: relative;
}

.header-cart-fixed-bg
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    z-index: 5;
    pointer-events: none;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.3);

    transition: opacity .3s .3s;
}
.personal-navigation__item.cart-wrapper.opened .header-cart-fixed-bg
{
    opacity: 1;
    pointer-events: all;

    transition: opacity .3s 0s;
}

.cart-items-wrapper
{
    position: absolute;
    z-index: 6;
    top: calc(100% + 19px);
    right: -68px;
    padding: 25px 50px 28px 30px;

    width: 100vw;
    max-width: 510px;

    background-color: #fff;

    opacity: 0;

    transition: opacity .3s 0s;
}
.cart-items-wrapper::before
{
    content: "";
    z-index: -1;

    background-color: #fff;

    position: absolute;
    right: 64px;
    top: -23px;

    height: 25px;
    width: 25px;

    clip-path: polygon(50% 4%, 0% 100%, 100% 100%);
    opacity: 0;

    transition: opacity .3s 0s;
}

.personal-navigation__item.cart-wrapper.opened .cart-items-wrapper,
.personal-navigation__item.cart-wrapper.opened .cart-items-wrapper::before
{
    opacity: 1;

    transition: opacity .3s .3s;
}