#page-header
{
    position: fixed;
}

@media screen and (max-width: 992px)
{
    .header-mrb
    {
        display: none !important;
    }
}

/* slider */
.mainpage-slider-wrapper
{
    position: relative;

    min-height: 540px;

    background-color: #000;

    display: flex;
    align-items: stretch;
}

.mainpage-top-slider
{
    width: 100%;
}

.mainpage-slider-wrapper .swiper-slide
{
    padding-top: calc(120px + 30px);
    padding-bottom: 54px;

    display: flex;
    align-items: stretch;
    
    overflow: hidden;

    position: relative;
}
@media screen and (max-width: 700px)
{
    .mainpage-slider-wrapper .swiper-slide
    {
        display: flex;
        align-items: stretch;

        padding-bottom: 118px;
    }
}

.mainpage-slider-wrapper .swiper-slide .slide-bg
{
    content: "";
    position: absolute;
    z-index: -1;

    left: 0;


    top: 50%;
    transform: translateY(-50%) translateX(-10%);
    width: 120%;
    min-height: 540px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* transition: left .2s; */
}

.mainpage-slider-wrapper .swiper-slide .content-container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* transition: transform .2s; */
}
@media screen and (max-width: 700px)
{
    .mainpage-slider-wrapper .swiper-slide .content-container
    {
        flex-flow: column-reverse nowrap;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-between;
    }
}

.slide-title-collection-wrapper
{
    max-width: 540px;
    margin-right: 15px;
}
@media screen and (max-width: 1200px)
{
    .slide-title-collection-wrapper
    {
        margin-top: 20px;
    }
}

.mainpage-top-slider__slide-title
{
    color: #fff;

    margin-bottom: 27px;
}
@media screen and (max-width: 992px)
{
    .mainpage-top-slider__slide-title
    {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 700px)
{
    .mainpage-top-slider__slide-title
    {
        margin-bottom: 30px;
    }
}

.mainpage-top-slider__collection
{
    color: #fff;
}

.mainpage-slider__slide-image
{
    width: 100%;
    max-width: 486px;
    max-height: 250px;

    object-fit: contain;
}
@media screen and (max-width: 1200px)
{
    .mainpage-slider__slide-image
    {
        max-width: 413px;

        /* margin-top: 60px; */
    }
}
@media screen and (max-width: 992px)
{
    .mainpage-slider__slide-image
    {
        max-width: 320px;
        /* margin-top: 0; */
    }
}
@media screen and (max-width: 700px)
{
    .mainpage-slider__slide-image
    {
        max-height: 290px;
    }
}

.mainpage-top-slider-pagination
{
    position: absolute;
    bottom: 56px;
    left: 0;
    width: 100%;

    z-index: 2;
}
@media screen and (max-width: 700px)
{
    .mainpage-top-slider-pagination
    {
        bottom: 50px;
    }
}

.mainpage-top-slider-pagination .content-container
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.mainpage-slider-wrapper .mainpage-top-slider-pagination .swiper-pagination-bullet 
{
    position: static;

    margin: 0;
    margin-right: 8px;
    
    width: 15px;
    height: 15px;
    
    display: block;
    
    border-radius: 50%;
    background: unset;
    opacity: 1;

    font-family: "Roboto", "RF Dewi", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;

    transition: background-color .3s;
}

.mainpage-top-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active
{
    background-color: #fff;
}

.famous-collections
{
    margin-top: 80px;
}

.famous-collections__title-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;


    margin-bottom: 30px;
}

.famous-collections__title
{
    color: var(--blue-color);
}
@media screen and (max-width: 992px) 
{
    .famous-collections__title
    {
        font-size: 22px;
        line-height: 30px;
    }
}

.watch-all-collections
{
    position: relative;

    display: block;
    padding-right: calc(13px + 5px);

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #777777;
}
.watch-all-collections::after
{
    content: "";

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 13px;
    background-image: url("/images/icons/linked-coins/watch-all-dark.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    /* opacity: 0.5; */
    transition: opacity .3s;
}
@media screen and (max-width: 568px) 
{
    .watch-all-collections
    {
        display: none;
    }
}

.collections-list
{
    position: relative;
}
.collections-list::after
{
    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    height: 1px;
    width: 100vw;

    background-color: #c4c4c4;
}

.collection-item
{
    position: relative;
    
    padding: 14px 0;
}
@media screen and (max-width: 768px)
{
    .collection-item
    {
        padding: 20px 0;
    }
}
/* upper line */
.collection-item::before,
/* dark bg */
.collection-item::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
}

.collection-item::before
{
    height: 1px;
    background-color: #c4c4c4;
}
.collection-item::after
{
    height: 100%;
    background-color: #181A1E;

    opacity: 0;
    z-index: -1;

    transition: opacity .5s;
}
.collection-item:hover::after
{
    opacity: 1;
}

.collection-item__inner-wrapper
{
    width: 100%;
    max-width: 1206px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 568px)
{
    .collection-item__inner-wrapper
    {
        align-items: stretch;
    }
}

.mobile-left-wrapper
{
    flex-grow: 1;
    max-width: 886px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1400px) 
{
    .mobile-left-wrapper
    {
        max-width: 818px;
    }
}
@media screen and (max-width: 1200px)
{
    .mobile-left-wrapper
    {
        max-width: 746px;
    }
} 
@media screen and (max-width: 992px)
{
    .mobile-left-wrapper
    {
        max-width: 577px;
    }
}
@media screen and (max-width: 768px)
{
    .mobile-left-wrapper
    {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.collection-name-type-wrapper
{
    flex-grow: 1;
    max-width: 260px;
}
@media screen and (max-width: 992px) 
{
    .collection-name-type-wrapper
    {
        max-width: 215px;
    }
}

.collection__name
{
    color: #000;
    margin-bottom: 8px;

    transition: color .4s;
}

.collection-item:hover .collection__name
{
    color: #fff;
}    

.collection__type
{
    color: transparent;

    transition: color .4s;
}
@media screen and (min-width: 769px)
{
    .collection-item:hover .collection__type
    {
        color: #fff;
    }
}
@media screen and (max-width: 992px) 
{
    .collection__type
    {
        display: none;
    }
}

.collection__preview-images
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.collection__preview-image
{
    width: 100%;
    max-width: 100px;
    max-height: 100px;

    object-fit: contain;

    margin-right: 17px;
    border-radius: 50%;

    opacity: 0;

    transition: opacity .5s;
}
@media screen and (max-width: 768px)
{
    .collection__preview-image
    {
        max-width: 75px;
        max-height: 75px;

        margin-right: 20px;
    }
}
@media screen and (max-width: 568px)
{
    .collection__preview-image
    {
        max-width: 50px;
        max-height: 50px;
    }
}
@media screen and (max-width: 360px)
{
    .collection__preview-image
    {
        margin-right: 15px;
    }
}
.collection-item:hover .collection__preview-image
{
    opacity: 1;
}

.collection__preview-images .collection__preview-image:last-child
{
    margin-right: 0;
}

.rotating-image-wrapper
{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rotating-image-wrapper .rotating-image
{
    max-width: 107px;
    
    animation: rotateText 10s linear infinite backwards;
    animation-play-state: paused;

    transition: transform .5s;
}
@media screen and (max-width: 360px)
{
    .rotating-image-wrapper .rotating-image
    {
        max-width: 80px;
    }
}
@media screen and (min-width: 769px)
{
    .collection-item:hover .rotating-image-wrapper .rotating-image
    {
        animation-play-state: running;
    }
}

@keyframes toText {
    to {
        transform: rotate(0);
    }
}
@keyframes rotateText
{
    from {
        transform: rotate(0);
    }
    to
    {
        transform: rotate(360deg);
    }
}

.rotating-image-wrapper .inner-arrow
{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

/* выкуп монет */
.buyout-coins
{
    margin-top: 80px;
}
@media screen and (max-width: 992px) 
{
    .buyout-coins
    {
        margin-top: 50px;
    }
}