/* swiper buttons */
.swiper-button-next, 
.swiper-button-prev
{
    position: static;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
    margin-top: 0;
    margin-bottom: 0;

    width: auto;
    height: auto;

    color: unset;

    display: block;
    flex-flow: unset;
    justify-content: unset;
    align-items: unset;

    z-index: 1;

    -webkit-tap-highlight-color: transparent;
}
.swiper-button-next::after, 
.swiper-button-prev::after
{
    display: none;
}